
.about p {
    font-size: 16px;
    text-align: center;
    font-weight: 100;
}


/* .about {
    margin: 10rem;
} */

.about h1{
    margin-top: 0px;
}

.about img {
    width: 50px;
    margin-bottom: 10px;
}

.about-cta {
	/* margin: 120px 0px 120px 0px; */
    padding: 120px 0;
    text-align: center;
}

.about-btns {
	margin-bottom: 32px;
}

.bio {
    font-style: italic;
    margin-bottom: 120px;
}

.skill__container {
    width: 70vw;
    /* display: flex;
    flex-direction: column; */
    /* justify-items: center;
    align-content: center; */
}

.group__skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
}
.skill__details {
    width: 30vw;
    text-align: center;
    /* margin: 20px; */
}